node_modules
dist
public/standard_fonts
public/cmaps
public/wasm
.cache
public/dict.json.gz
public/tesseract
public/icons
eng.traineddata
playwright-report
playwright-device-report
playwright-browserstack-report
test-results
